/*---- Style for fitTrack ----- */

/*Universals*/

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #1258DC;
}

h1 {
    font-size: 4em;
}

label {
    font-size: 2em;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

/*header*/


header {
    height: 75px;
    display: flex;   
    margin-bottom: 75px;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}


#navLinks{
    display: flex;
}

#back{
    display: flex;
}

#small_logo{
    height: 120px;
    width: 140px;
    border-radius: 50%;
    padding: 10px;
    
}

a.topNav:hover {
    color: red;
}


/* Main Container*/

#mainTitle{
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

/*settings */
#settings_container {
    min-width: 25%;
    min-height: 400px ;
    background-color: #FB8604;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}    



#settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

#timeBetweenSets {
   font-size: 2em;
   width: 80%;
   align-self: center;
   text-align: end;
   
  
}




/*master container*/

#master_container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}   

/*rep & time containers*/

.container {
    min-width: 33%;
    background-color: #FB8604;
    margin: 40px;
    padding: 20px;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
   
}

.panel {
    display: flex;
    flex-direction: column;
    justify-items: center;
}


/*buttons*/
.plusButton{
    background-color: #144EB8;
    width: 80%;
    font-size: 2rem;
    margin: 5px;
    margin-top: 20px;
    align-self: center;

}

.minusButton{
    background-color: #F7E7D4;
    width: 80%;
    font-size: 2rem;
    margin: 5px;
    margin-top: 20px;
    align-self: center;
}


.resetButton{
     font-size: 2rem;
     width: 80%;
    font-size: 2rem;
    margin: 5px;
    margin-top: 20px;
    align-self: center;
}



button:hover {
    background-color: rgb(83, 83, 83);
}


/*Displays for rep and time*/
.display {
    font-size: 2em;
    width: 80%;
    align-self: center;
    text-align: end;
}

